version: '3.8'
services:
  db:
    image: postgres:14
    container_name: estagio_legal_db
    restart: always
    environment:
      POSTGRES_USER: estagio_user
      POSTGRES_PASSWORD: estagio_pass
      POSTGRES_DB: estagio_db
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  app:
    build: .
    container_name: estagio_legal_back
    depends_on:
      - db
    ports:
      - "3001:3000"
    environment:
      DATABASE_URL: postgres://estagio_user:estagio_pass@db:5432/estagio_db
      JWT_SECRET: secret_jwt
      JWT_REFRESH_SECRET: refresh_secret
      CORS_ORIGIN: http://localhost:5173
    command: npm run start:prod

volumes:
  pgdata:
